<div>
    <div>
        <h3>sobre mi:</h3>
        <p>Soy critico, responsable con mis actividades, me gusta informarme según mis
            necesidades para resolver problemas, actualmente estoy estudiando Programación y
            aprendiendo inglés; por cuenta propia.
            Mis aspiraciones son conseguir un trabajo donde aplicar el valor de mis conocimientos,
            estar en un equipo de trabajo y el desarrollo web como campo preferente.
            Lenguajes de programación estudiados este año en la carrera:<br>
            Python, también Framework Django (Básico) para Back-end<br>
            MySQL para Bases de Datos.<br>
            HTML,CSS,JavaScript, también Framework React para front-end<br>
            Java (intermedio), introducción a programación orientada a objetos.<br>
            Trabajo Web en Facultad: <a href="https://github.com/Facundo-ivan-Monzon20/E-commerce">https://github.com/Facundo-ivan-Monzon20/E-commerce</a> </p>
    </div>
    <div>
        <h3>Habilidades avanzadas:</h3>
        <ul>
            <li><img src="../../assets/css.png" alt=""></li>
            <li><img src="../../assets/html.png" alt=""></li>
            <li><img src="../../assets/git.png" alt=""></li>
            <li><img src="../../assets/javascript.png" alt=""></li>
        </ul>
    </div>
</div>
<h3></h3>