<div>

    <div>
        <h1>Buenas! <br>Soy Facundo Monzón</h1>
        <h2>desarrollador front-end</h2>
    </div>

    <div class="div-datos">
        <h3>Datos personales:</h3>
            <ul class="datos_personales_ul">
                <li><b>Edad:</b> 21 Años</li>
                <li><b>Fecha de nacimiento:</b> 14/12/2000</li>
                <li><b>D.N.I:</b> 43126971</li>
                <li><b>Cuil:</b> 27–43126971–03</li>
                <li><b>Dirección:</b> Ituzaingó 6396</li>
                <li><b>Provincia:</b> Santa Fe</li>
                <li><b>Localidad:</b> Rosario</li>
                <li><b>Código postal:</b> 2000</li>
                <li><b>Nacionalidad:</b> Argentina</li>
                <li><b>Vacunas Contra el Covid19:</b> 3 dosis</li>
            </ul>
    </div>
</div>